*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 965px;
    border-bottom: 210px solid rgb(70, 54, 28);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url(./Mario/Images/backgoudgame.png);
    background: linear-gradient( rgb(5, 5, 5), rgb(47, 31, 62));
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.back {
    background-repeat: no-repeat;
    height: 755px;
    width: 1950px;
}
.clouds {
    position: absolute;
    width: 500px;
    animation: clouds-animation 15s infinite linear;
}


@keyframes pipe-animation{
    from{

        right: -80px;

    }

    to{

        right: 100%;

    }
}

@keyframes jump{

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}
@keyframes clouds-animation {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }

}

#jumpCounter {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;

    font-size: 40px;
    font-family: fantasy;
}